**LIST**

In [1]:
empty_list = []
print("Empty List:", empty_list)

Empty List: []

In [3]:
numbers = [10, 20, 30]
print("List of numbers:", numbers)

List of numbers: [10, 20, 30]

In [6]:
strings = ["Loki", "Baki", "Hanma"]
print("List of strings:", strings)

List of strings: ['Loki', 'Baki', 'Hanma']

In [8]:
mixed_list = [1, "Python", 3.14]
print("Mixed List:", mixed_list)

Mixed List: [1, 'Python', 3.14]

In [10]:
# Accessing elements using indexing
print("First element:", strings[0])
print("Second element:", strings[1])
print("Last element:", strings[-1])
print("Second last element:", strings[-2])

First element: Loki
Second element: Baki
Last element: Hanma
Second last element: Baki

In [12]:
numbers.append(40)
print("After append:", numbers)

numbers.insert(1, 15)
print("After insert:", numbers)

numbers.extend([50, 60])
print("After extend:", numbers)

After append: [10, 20, 30, 40]
After insert: [10, 15, 20, 30, 40]
After extend: [10, 15, 20, 30, 40, 50, 60]

In [14]:
numbers.remove(20)
print("After remove:", numbers)

numbers.pop(2)
print("After pop:", numbers)

numbers.clear()
print("After clear:", numbers)

After remove: [10, 15, 30, 40, 50, 60]
After pop: [10, 15, 40, 50, 60]
After clear: []

In [18]:
Num = [2,5,9,6,4,3,1,8,7]
print("Length of list:", len(Num))
print("Maximum value:", max(Num))
print("Minimum value:", min(Num))
print("Sum of elements:", sum(Num))
print("Sorted list:", sorted(Num))

Length of list: 9
Maximum value: 9
Minimum value: 1
Sum of elements: 45
Sorted list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list1 = list(input("Please Enter List Elements: "))
print(list1)

Please Enter List Elements:  136911

['1', '3', '6', '9', '1', '1']

In [34]:
list1 = [1, 2, 3, 4, 5]
list1[0], list1[-1] = list1[-1], list1[0]
print(list1)

[5, 2, 3, 4, 1]

In [36]:
a = [1, 2, 3, 4, 5]
count = 0
for val in a:
    count += 1
print(count)

5

In [38]:
a = 2
b = 4

print(a if a >= b else b)
print(a if a <= b else b)

4
2

In [42]:
a = [10, 20, 30, 40, 50]
if 30 in a:
    print("Element exists in the list")
else:
    print("Element does not exist")

Element exists in the list

In [50]:
a = [10, 20, 30, 40, 50]
print(a[::-1])
print(list(reversed(a)))

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

In [52]:
a = [10, 20, 30, 40, 50]
b = []
for i in a:
    b.append(i)
print(a)
print(b)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [56]:
def count_occurance(list1,n):
    count = 0
    for i in list1:
        if i == n:
            count+=1
    return count

a = [1, 3, 2, 6, 3, 2, 8, 2, 9, 2, 7, 3]
count_occurance(a,2)

4

In [60]:
a = [1, 2, 3, 4, 5]
sum = 0
for i in a:
    sum = i + sum
print(sum)

15

In [66]:
a = [9,6,8,5,7,4]
min = a[0]
for i in a:
    if i < min:
        min = i
print(min)

4

In [68]:
a = [9,6,8,5,7,4]
max = a[0]
for i in a:
    if i > max:
        max = i
print(max)

9

In [86]:
a = [9,6,8,5,7,4]
def find_second_largest(numbers):
    return sorted(set(numbers))[-2]
print("The second largest numb: ",find_second_largest(a))

The second largest numb:  8

In [92]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd = []
even = []
for i in a:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

print(odd)
print(even)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [1]:
def most_frequent(List):
    counter = 0
    num = List[0]
    
    for i in List:
        curr_frequency = List.count(i)
        if(curr_frequency> counter):
            counter = curr_frequency
            num = i

    return num

List = [2, 1, 2, 2, 1, 3]
print(most_frequent(List))

2

In [3]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
res = [i + j for i, j in zip(list1,list2)]
print(res)

[7, 9, 11, 13, 15]

In [5]:
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [13]:
l = [ 'hello', 'loki', 'have', 
     'a', 'good', 'day']
ans = ' '
for i in l: 
  ans = ans+ ' '+ i
print(ans)

  hello loki have a good day

In [15]:
l = [ 'hello', 'loki', 'have', 
     'a', 'good', 'day']
 
res = " ".join([str(item) for item in l])
print(res)

hello loki have a good day

In [23]:
list1 = ['a','b','c','d','e','f','g','h','i']
print ("The original list is : " + str(list1))
list1[5 : 8] = [''.join(list1[5 : 8])]
print ("The list after merging elements : " + str(list1))

The original list is : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
The list after merging elements : ['a', 'b', 'c', 'd', 'e', 'fgh', 'i']

In [25]:
def Sorting(lst):
    lst2 = sorted(lst, key=len)
    return lst2
    
lst = ["rohan", "amy", "sapna", "muhammad", 
       "aakash", "raunak", "chinmoy"]

print(Sorting(lst))

['amy', 'rohan', 'sapna', 'aakash', 'raunak', 'chinmoy', 'muhammad']

In [27]:
a = [1,2,3]
b = [1,2,3]
x = all(x == y for x, y in zip(a, b))
print(x)

True

In [ ]:
x = corpus.split(' ')
print(x)

cleaned_corpus = " ".join(corpus.split())
emails = re.findall(r'\S+@\S+\.\S+', corpus)
sentences = corpus.split('.')
word_count = len(corpus.split())

In [29]:
a = [2,3,4,5]
res = [val ** 2 for val in a]
print(res)

[4, 9, 16, 25]

In [31]:
matrix = [[j for j in range(5)] for i in range(5)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [33]:
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1]  
print (odd_square)

[1, 9, 25, 49, 81]

In [40]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
newlist1 = [x for x in fruits if x != "apple"]
print(newlist)
print(newlist1)

['apple', 'banana', 'mango']
['banana', 'cherry', 'kiwi', 'mango']

In [38]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

ziping = list(zip(list1,list2))
print("Our lists are zip: ",ziping)

unzipped = zip(*ziping)
a,b = unzipped
print("Our lists are unzip: ")
print(a)
print(b)

Our lists are zip:  [(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]
Our lists are unzip:
(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [59]:
corpus = """

John Doe is the CEO of Tech Solutions Inc. He met with Mary Jane on 12th February 2024.

Their meeting was about a new project, and John discussed the future of the industry.

John's email is john.doe@techsolutions.com, and Mary can be contacted at mary.jane@corporation.org.

The meeting will continue on 25th February 2024 in New York.

"""

# sentence = corpus.split('.')
# print(sentence)

words = corpus.split(' ')
print(words)

e = []
for i in words:
    if "@" in i:
        e.append(i)
    
print(e)

['\n\nJohn', 'Doe', 'is', 'the', 'CEO', 'of', 'Tech', 'Solutions', 'Inc.', 'He', 'met', 'with', 'Mary', 'Jane', 'on', '12th', 'February', '2024.\n\nTheir', 'meeting', 'was', 'about', 'a', 'new', 'project,', 'and', 'John', 'discussed', 'the', 'future', 'of', 'the', "industry.\n\nJohn's", 'email', 'is', 'john.doe@techsolutions.com,', 'and', 'Mary', 'can', 'be', 'contacted', 'at', 'mary.jane@corporation.org.\n\nThe', 'meeting', 'will', 'continue', 'on', '25th', 'February', '2024', 'in', 'New', 'York.\n\n']
['john.doe@techsolutions.com,', 'mary.jane@corporation.org.\n\nThe']

In [ ]:
# NLTK:

In [71]:
import re
corpus = """
John Doe is the CEO of Tech Solutions Inc. He met with Mary Jane on 12th February 2024.

Their meeting was about a new project, and John discussed the future of the industry.

John's email is john.doe@techsolutions.com, and Mary can be contacted at mary.jane@corporation.org.

The meeting will continue on 25th February 2024 in New York.
"""

name_pattern = r'\b([A-Z][a-z]+ [A-Z][a-z]+)\b'

email_pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

numbers  = r'\b\d+\b'

names = re.findall(name_pattern, corpus)
emails = re.findall(email_pattern, corpus)
numbers = re.findall(numbers, corpus)

print("Names:", names)
print("Emails:", emails)
print("Numbers:", numbers)

Names: ['John Doe', 'Tech Solutions', 'Mary Jane', 'New York']
Emails: ['john.doe@techsolutions.com', 'mary.jane@corporation.org']
Numbers: ['2024', '2024']

In [73]:
import re

# The sentence
sentence = "Barack Obama and Michelle Obama visited New York last week."

# Regular expression to match names (capitalized first and last names)
name_pattern = r'\b([A-Z][a-z]+ [A-Z][a-z]+)\b'

# Extract names using regex
names = re.findall(name_pattern, sentence)

# Output the results
print("Names:", names)

Names: ['Barack Obama', 'Michelle Obama', 'New York']

In [5]:
import nltk

from nltk import ne_chunk, pos_tag, word_tokenize
sentence = "Barack Obama and Michelle Obama visited New York last week."

tokens = word_tokenize(sentence)
pos_tags = pos_tag(tokens)
named_entities = ne_chunk(pos_tags)

names = []
for subtree in named_entities:
    if isinstance(subtree, nltk.Tree) and subtree.label() == 'PERSON':
        name = " ".join([token for token, pos in subtree.leaves()])
        names.append(name)

print("Extracted names:", names)

Extracted names: ['Barack', 'Michelle Obama']

In [33]:
# A Set in Python programming is an unordered collection data type that is iterable and has no duplicate elements.
test_set = set(["LOKI","God","Mischief"])
test_set.add("Asgard")

for val in test_set:
    print(val)

Asgard
LOKI
God
Mischief

In [37]:
set1={"Loki","is","God"}
print(set1)
for val in set1:
    print(val)

{'is', 'God', 'Loki'}
is
God
Loki

In [45]:
# no indexing

set1={"Loki","is","God"} 
print(set1[1])

TypeError: 'set' object is not subscriptable